.item1{
    background-color: aqua;
    width: 50px;
    height: 350px;
    border-radius: 50px;
    margin-top: -1px;
}
@media (max-width: 767px) {
    .item1 {
        width: 300px;
        height: 50px;
    }
}