.item1{
    background: linear-gradient(to bottom, #00ffe5, #190045);
    width: 50px;
    height: 350px;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: -1px;
}
@media (max-width: 992px) {
    .item1 {
        width: 300px;
        height: 50px;
    }
}