.pro1{
  border-width: 2px;
  border-color: rgb(88, 85, 85);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  width: 500px;
  height: 500px;
  margin-left: 33%;
  margin-top: 30px;
  margin-bottom: 10px;
  background:  linear-gradient(to bottom, #ffe600, #532f00);
}
#h1pro{
  margin-left: 45%;
  margin-top: 3%;
  color:white;
}
#i11{
  width: 200px;
  margin-left: 30%;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: center;
}
#l1{
  margin-left: 45%;
  font-size: 12px;
}


@media(max-width: 992px){
  .pro1{
    margin-left: 25%;
    width: 400px;
  }
  #l1{
    margin-left: 40%;
  font-size: 12px;
  }
  #i11{
    width: 200px;
  margin-left: 25% ;
  border-radius: 20px;
  text-align: center;

  }
}

@media(max-width: 892px){
  .pro1{
    margin-left: 30%;
    width: 300px;
  }
  #l1{
    margin-left: 40%;
  font-size: 12px;
  }
  #i11{
    width: 200px;
  margin-left: 18% ;
  border-radius: 20px;
  text-align: center;

  }
}


@media(max-width: 792px){
  .pro1{
    margin-left: 20%;
    width: 400px;
  }
  #l1{
    margin-left: 40%;
  font-size: 12px;
  }
  #i11{
    width: 200px;
  margin-left: 18% ;
  border-radius: 20px;
  text-align: center;

  }
}

@media(max-width: 692px){
  .pro1{
    margin-left: 25%;
    width: 300px;
  }
  #l1{
    margin-left: 40%;
  font-size: 12px;
  }
  #i11{
    width: 200px;
  margin-left: 18% ;
  border-radius: 20px;
  text-align: center;

  }
}

@media(max-width: 592px){
  .pro1{
    margin-left: 25%;
    width: 300px;
  }
  #l1{
    margin-left: 40%;
  font-size: 12px;
  }
  #i11{
    width: 200px;
  margin-left: 18% ;
  border-radius: 20px;
  text-align: center;

  }
}
@media(max-width: 492px){
  .pro1{
    margin-left: 20%;
    width: 300px;
  }
  #l1{
    margin-left: 40%;
  font-size: 12px;
  }
  #i11{
    width: 200px;
  margin-left: 18% ;
  border-radius: 20px;
  text-align: center;

  }
}

@media(max-width: 392px){
  .pro1{
    margin-left: 3%;
    width: 300px;
  }
  #l1{
    margin-left: 40%;
  font-size: 12px;
  }
  #i11{
    width: 200px;
  margin-left: 18% ;
  border-radius: 20px;
  text-align: center;

  }
  #h1pro{
    margin-left: 35%;
  }
}
@media(max-width: 292px){
  .pro1{
    margin-left: 2%;
    width: 270px;
  }
  #l1{
    margin-left: 40%;
  font-size: 12px;
  }
  #i11{
    width: 200px;
  margin-left: 18% ;
  border-radius: 20px;
  text-align: center;

  }
}

